body {
    background-color: #eee;
    font-family: "Racing Sans One", sans-serif ;
    color: rgb(85 87 102);
    margin: 0;
}

#title {
    font-size: 4rem;
    margin-bottom: 0;
    color: #D40000;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    text-shadow: 3px 3px 9px rgb(0 0 0 / 40%);
    margin-top: 0px;
}

@media (max-width: 460px) {
    #title {
      font-size: 3rem;
      line-height: 1.2;
    }
  }


#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
}

#img-div {
    box-shadow: 3px 3px 4px rgb(0 0 0 / 50%);
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}

#img-caption {
    color: rgb(85 87 102);
    font-family: "Orbitron";
    text-shadow: 2px 2px 2px rgb(0 0 0 / 40%);
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#tribute-info {
    margin: 25px;
}

#tribute-info h2 {
    color: #D40000;
    text-shadow: 3px 3px 9px rgb(0 0 0 / 40%);
}

#tribute-info li {
    padding-bottom: 20px;
}

#emblem {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
}

#img-Emblem {
    padding: 10px;
    margin: 10px;
    
}

#quote {
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

#quote blockquote {
    margin-bottom: 0;
}

#quote p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #D40000;
    font-weight: bold;
}

footer {
    font-family: "Orbitron", sans-serif;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(209, 205, 205);
    background: rgb(85 87 102);
}

a:visited {
    color: inherit;
}

